@model List<Entidades.CarritoItem>

@{
    ViewBag.Title = "Carrito2";
}

<h2>Carrito2</h2>


<table class="table table-responsive">
    <tr>
        <th> Producto</th>
        <th> Cantidad</th>
        <th> Precio</th>
        <th> Total</th>
    </tr>

    <tr>
        <td>Lorena Cujilema</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Producto.Nombre</td>
            <td>@item.CantidadSeleccionada</td>
            <td>@item.Producto.Precio</td>
            <td>@item.Total</td>
        </tr>
    }
</table>

<p> <a> Resumen </a></p>
<p> <a href=""> Ir a vista  </a> </p>

<hr />
<br />
<button class="btn btn-primary">primary</button>
<button class="btn btn-danger">danger</button>
<button class="btn btn-info">info</button>
<button class="btn btn-success">success</button>
<hr />
<br />
<a href="@Url.Action("RegistrarCompra", "Carrito")" class="btn btn-primary"> Registrar compra </a>
 

@*  public int CantidadSeleccionada { get; set; }

    public Producto Producto { get; set; }

    public decimal Total*@


